.header {
    color: blue;
    font-size: 60px;
    font-family: serif;
    background-color: skyblue;
}

.main {
    background-image: url(../image/4.jpg);
    background-size: cover;
    height: 100vh;
}

.footer {
    background-color: rgb(144, 238, 238);
    height: 250px;
}

.left-contens {
    width: auto;
    margin-right: 20px;
    float: left; 
   
}


li {
    list-style: none;
    font-size: 30px;
    float: left;
    padding: 33px 20px;
}

img {
    height: 200px;
}

.contents-item {
    float: left;
    padding: 30px;
}

.right-contents{
    width: 373.2px;
    float: left;
    margin: auto;
    padding: 1em;
    background-color: white;   
}

span {
    border: 2px solid blue;
}